h1, h2, h3, h4, span, p, a {
    font-family: 'Montserrat', sans-serif;
}
body {
    background: #e2eaee;
}
/*Home*/
/*Slider*/
.container-eixo {
    padding: 0px !important;
}
.img-eixo {
    max-width: 100%;
}
.objeto-slider {
    background: linear-gradient(0deg, rgba(49,113,183,1) 0%, rgba(49,113,183,0) 100%), url("./assets/imagens/home_slide_animal.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 80vh;
    display: flex;
    align-items: flex-end;
}
.texto-slider {
    text-align: center;
    margin: 0px auto;
    padding: 0px 8px;
    padding-bottom: 70px;
}
.texto-slider h1 {
    color: white;
    font-weight: bold;
    margin: 0px;
    font-size: 35px;
}
.texto-slider p {
    color: white;
    font-size: 18px;
}
/*fim slider*/
/*fim home*/