.conteudo {

    max-width: 1170px;
    
    margin: auto;
    padding: 10px;
    background: #fff;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}
.card-dr img {
    max-width: 200px;
    border-radius: 120px;
    margin-bottom: 10px;
}
.texto-dr {
    max-width: 200px;
}

h2 {
    font-weight: bold;
    margin-bottom: 5px;
}

h2, p {
    font-size: 16px;
}
.titulo-corpo {
    font-size: 25px;
    padding: 10px;
    margin-left: 160px;
    color: #929595;
}
.card-dr {
    padding: 45px;
}
.card-doutores {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
