.box-conteudo{
    background: #fff;
    border-radius: 20px;
    padding: 20px 40px;
    margin-top: 60px;
}
h1, h2, h3, h4, span, p, a {
    font-family: 'Montserrat', sans-serif;
}
.card-unidade{
	display: inline-flex;
}
.card-unidade img{
	width: 49%;
    height: 400px;
    border-radius: 25px;
}
.card-unidade .unidade-conteudo{
	margin-left: 40px;
	width: 40%;
}
.unidade-conteudo .titulo-redes{
	display: inline-flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.titulo-redes img{
	height: 25px;
	width: 25px;
}
.titulo-redes h3{
	width: 170px;
}
.fone-btn{
	display: flex;
    justify-content: space-between;
}
.fone-btn .fone{
	display: inline;
}
.fone-btn .fone img{
	display: inline;
    width: 25px;
    height: 25px;
}
.fone-btn .fone p{
	display: inline;
}
.fone-btn button{
	    background: #0e7ac0;
    border: none;
    color: white;
    font-weight: bold;
    padding: 10px 8px;
    border-radius: 10px;
    line-height: 1;
    font-family: 'Montserrat';
}