.titulo-materiais {
    background: #107abe;
    color: white;
    height: 25vh;
    text-align: center;
    font-size: 20px;
}
.titulo-materiais h1 {
    padding-top: 40px;
}
.boxconteudo-materiais {
    background: white;
    border-radius: 20px 20px 0px 0px;
    padding: 20px;
    transform: translate(0%,-4%);
}
.nav-tabs {
    border-bottom: none;
}
body > section.boxconteudo-materiais > div > div.panel-heading > ul > li > a{
    border: 1px solid #107abe;
    padding: 5px 15px;
    border-radius: 0px;
    margin: 0px;
    font-size: 16px;
}
body > section.boxconteudo-materiais > div > div.panel-heading > ul > li.active > a {
    border-radius: 10px 0px 0px 10px;
}
body > section.boxconteudo-materiais > div > div.panel-heading > ul > li:nth-child(2) > a {
    border-left: none;
    border-radius: 0px 10px 10px 0px;
}
.content-lista-unica {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content-lista-unica h2 {
    font-size: 20px;
    color: black;
    margin-bottom: 15px;
}
.content-lista-unica p {
    text-align: center;
    font-size: 16px;
}
.content-lista-unica {
    border: 1px solid #e8ecef;
    padding: 15px;
    margin-top: 20px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    background: #107abe;
    color:white;
    border: 1px solid #107abe;

}